<div class="container">
  <div flex="20"></div>
  <div layout="row" align="center">
    <div flex>
      <form [formGroup]="userProfileForm">
        <div layout="column" align="center">

          <div class="push-top-md">
            <img src="http://via.placeholder.com/200x250" style="margin:20px" alt="Image">
          </div>

          <div layout="row" align="center">
            <div flex>
              <mat-icon class="material-icons" title="Total Likes" align="pad-right-md">thumb_up</mat-icon>
              <mat-icon class="material-icons" title="Total Posts" align="pad-right-md">comment</mat-icon>
            </div>
          </div>
          <div layout="row" align="center">
            <div flex>
              <mat-card-title>1 &nbsp; 3</mat-card-title>
            </div>
          </div>

          <mat-card class="topPanel">
            <mat-card-header>
              <mat-card-title>Bio</mat-card-title>
              <span flex></span>
              <button mat-button (click)="toggleTopPanel()">
                <mat-icon class="material-icons" align="pad-right-md">create</mat-icon>
              </button>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <textarea matInput formControlName="bio" matAutosizeMaxRows="10" matAutosizeMinRows="10" matTextareaAutosize placeholder="Insert bio"></textarea>
            </mat-form-field>
          </mat-card>

          <mat-card class="midPanel">
            <mat-card-header>
              <mat-card-title flex>Email</mat-card-title>
              <span flex></span>
              <button mat-button (click)="toggleMidPanel()">
                <mat-icon class="material-icons" align="pad-right-md" align="end">create</mat-icon>
              </button>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="emailAddress" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>Username
              </mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="username" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>First Name
              </mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="firstName" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>Last Name</mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="lastname" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>DOB</mat-card-title>
            </mat-card-header>
            <mat-form-field>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>Tel No.</mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="telNo" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>Password</mat-card-title>
              <div flex align="left">
                <button class="push-bottom-md push-top-md" mat-raised-button color="accent" margin="20" (click)=" displayPassword()">
                  Change Password
                </button>
              </div>
            </mat-card-header>


            <!-- <div ng-show> -->
            <!-- <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <input type="text" formControlName="password" [type]="hide ? 'password' : 'text'" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>Confirm Password</mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <input type="text" formControlName="confirmPassword" [type]="hide ? 'password' : 'text'" matInput>
            </mat-form-field>
            </div ng-show> -->
          </mat-card>

          <mat-card class="bottomPanel">
            <mat-card-header>
              <mat-card-title flex>Address</mat-card-title>
              <span flex></span>
              <button mat-button (click)="toggleBottomPanel()">
                <mat-icon class="material-icons" align="pad-right-md" align="end">create</mat-icon>
              </button>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="address1" matInput>
            </mat-form-field>
            <!-- <mat-card-header> -->
            <!-- <mat-card-title flex>Address 2</mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="address2" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>Address 3</mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="address3" matInput>
            </mat-form-field>
            <mat-card-header>
              <mat-card-title flex>Postcode</mat-card-title>
            </mat-card-header>
            <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
              <input type="text" formControlName="postCode" matInput>
            </mat-form-field> -->
          </mat-card>
        </div>
      </form>
    </div>
  </div>
  <div flex="20"></div>
</div>