<div class="container">
  <div layout="column" align="center">
    <form [formGroup]="userProfileForm">
      <div flex>
        <mat-card>
          <div class="push-top-md">
            <img src="http://via.placeholder.com/200x250" style="margin:20px" alt="Image">
          </div>
          <!--Email Address (cannot change)-->
          <mat-card-header>
            <mat-card-title>Email Address</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="emailAddress" matInput>
          </mat-form-field>
          <!--First Name-->
          <mat-card-header>
            <mat-card-title>First Name</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="firstName" matInput>
          </mat-form-field>
          <!--Surname-->
          <mat-card-header>
            <mat-card-title>Surname</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="surname" matInput>
          </mat-form-field>
          <!--TelNo-->
          <mat-card-header>
            <mat-card-title>Telephone Number</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="telNo" matInput>
          </mat-form-field>
          <!--DOB-->

          <!-- <mat-card-header>
            <mat-card-title>DOB</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input matInput [matDatepicker]="dob" matInput placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

          <mat-card-header>
            <mat-card-title>DOB</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="dob" matInput>
          </mat-form-field>

          <!--Address1-->
          <mat-card-header>
            <mat-card-title>Address 1</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="address1" matInput>
          </mat-form-field>
          <!--Address2-->
          <mat-card-header>
            <mat-card-title>Address 2</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="address2" matInput>
          </mat-form-field>
          <!--Address3-->
          <mat-card-header>
            <mat-card-title>Address 3</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="address3" matInput>
          </mat-form-field>
          <!--PostCode-->
          <mat-card-header>
            <mat-card-title>Post Code</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="postCode" matInput>
          </mat-form-field>
          <!--Bio-->
          <mat-card-header>
            <mat-card-title>Bio</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="bio" matInput>
          </mat-form-field>
          <!--Posts-->
          <mat-card-header>
            <mat-card-title>Total Posts</mat-card-title>
          </mat-card-header>
          <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
            <input type="text" formControlName="totalPosts" matInput>
          </mat-form-field>
          <div flex align="center center">
            <button class="submit push-bottom-md push-top-md" mat-raised-button color="accent" (click)="addPost()">
              Save
            </button>
          </div>
        </mat-card>
      </div>
    </form>
  </div>
</div>