
img {
  width: 350px;
}


:host /deep/.mat-raised-button {
  box-shadow: none !important;
  mat-icon {
    font-size: 100px;
    color: grey;
  }
  mat-icon:hover {
    color: #a7d2cb;
  }
}