<div style="padding-top: 125px" class="push-bottom-md" layout="row" layout-align="center">
  <div layout="column">
    <span class="heading-title">Create Post</span>
    <div class="push-top-md push-bottom-md" layout="row" layout-align="center center">
      <button mat-button (click)="addPost()" [disabled]="!isValidPost()">Add Post</button>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>

<div class="container">
  <div layout="column" align="center">
    <form [formGroup]="addPostForm">
      <mat-card align="center" class="image" flex>
        <mat-card-header>
          <mat-card-title class="textSize">Upload photo</mat-card-title>
        </mat-card-header>
        <td-file-upload class="push-left-sm push-right-sm" #fileInput (cancel)="cancelEvent()" (change)="selectEvent($event)" required>
          <img *ngIf="url" [src]="url">
          <ng-template #selectFile td-file-input-label>
            <div class="col" align="center">
              <mat-icon class="material-icons">add_a_photo</mat-icon>
              <span [hidden]="!fileInput?.required"></span>
            </div>
          </ng-template>
        </td-file-upload>
      </mat-card>

      <mat-card flex class="pad">
        <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
          <mat-label>Title</mat-label>
          <input type="text" formControlName="title" matInput>
        </mat-form-field>
        <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
          <mat-label>Description</mat-label>
          <input type="text" formControlName="description" matInput placeholder="e.g Quality, quantity, use by date">
        </mat-form-field>
      </mat-card>


      <mat-card flex class="pad">
        <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
          <mat-label>Location</mat-label>
          <input type="text" formControlName="location" matInput>
        </mat-form-field>
        <mat-form-field class="pad-left-md pad-right-md" appearance="outline">
          <mat-label>Pick-up times</mat-label>
          <input type="text" formControlName="pickUpTime" matInput placeholder="e.g Weekdays, evenings only">
        </mat-form-field>
      </mat-card>

      <mat-card flex class="pad">
        <mat-form-field class="dropHeight pad-left-md pad-right-md pad-top-sm" appearance="outline">
          <mat-select placeholder="Keep listed for" formControlName="expirationDate">
            <mat-option *ngFor="let day of days" [value]="day.value">
              {{day.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </form>
  </div>
</div>