<div style="padding-top: 125px" class="push-bottom-md" layout="row" layout-align="center">
  <div layout="column">
    <span class="heading-title">Create Post</span>
    <div class="push-top-md push-bottom-md" layout="row" layout-align="center center">
      <button type="button" mat-button (click)="addPost()" [disabled]="!isValidPost()">Add Post</button>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>

<div class="container" layout="column" align="center">
  <form [formGroup]="addPostForm">
    <mat-card class="pad">
      <mat-card-header>
        <mat-card-title>Upload photo</mat-card-title>
      </mat-card-header>
      <div class="pad-bottom">
        <div layout="row" layout-align="center center">
          <td-file-input *ngIf="!url" (select)="selectEvent($event)" accept=".jpeg">
            <mat-icon class="material-icons">add_a_photo</mat-icon>
          </td-file-input>
        </div>
        <div *ngIf="url">
          <button mat-raised-button (click)="remove()" style="margin-top: 8px; margin-left: 8px; position: absolute">Remove</button>
          <img [src]="url">
        </div>
      </div>
    </mat-card>

    <mat-card class="pad">
      <mat-card-header>
        <mat-card-title>Post details</mat-card-title>
      </mat-card-header>
      <div layout="row" flex>
        <mat-form-field flex appearance="outline">
          <mat-label>Title</mat-label>
          <input type="text" formControlName="title" matInput>
        </mat-form-field>
      </div>

      <div layout="row" flex>
        <mat-form-field flex appearance="outline">
          <mat-label>Description</mat-label>
          <input type="text" formControlName="description" matInput placeholder="e.g Quality, quantity, use by date">
        </mat-form-field>
      </div>

      <div layout="row" flex class="pad-bottom">
        <app-map flex></app-map>
      </div>
      <div layout="row" flex>
        <mat-form-field flex appearance="outline">
          <mat-label>Pick-up times</mat-label>
          <input type="text" formControlName="pickUpTime" matInput placeholder="e.g Weekdays, evenings only">
        </mat-form-field>
      </div>

      <div layout="row" flex>
        <mat-form-field flex appearance="outline">
          <mat-select placeholder="Keep listed for" formControlName="expirationDate">
            <mat-option *ngFor="let day of days" [value]="day.value">
              {{day.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card>
  </form>
</div>