agm-map {
  height: 350px;
}

:host mat-form-field {
  width: 50%;
  z-index: 2;
  position: absolute;
  font-size: 15px;
}

:host /deep/.mat-form-field-flex {
  background-color: white;
  padding-left: 24px;
  padding-bottom: 8px;
}
