<mat-card class="card">
  <!-- <div (click)="likePost(card)" class="z-1 card-badge-likes" layout="row" layout-align="center center">
    <mat-icon style="font-size: 13px; margin-right: 4px">thumb_up</mat-icon>
    <span>{{card.likes}} </span>
  </div> -->

  <div class="item" (click)="viewPost(card)">
    <img class="main-image" mat-card-image src="{{card.imageUrl}}" alt="Image">
  </div>

  <mat-card-header class="pad">{{ card.title }}</mat-card-header>
  <mat-card-content>
    <div layout="row">
      <app-user-avatar [userRef]="card.userRef"></app-user-avatar>
      <div flex></div>
      <div class="card-badge-location pad" layout="row" layout-align="center center">
        <mat-icon style="font-size: 19px; margin-right: 4px">pin_drop</mat-icon>
        <span>1.8km away </span>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>

