<mat-card class="card" routerLink="{{card.postId}}">
  <mat-card-header>
    <mat-card-title>{{ card.title }}</mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="{{card.image}}" alt="Image"> -->
  <img mat-card-image src="http://via.placeholder.com/350x350" alt="Image">
  <mat-card-content>
    <p>
      {{ card.description }}
    </p>
    <mat-chip-list layout="row" layout-align="end">
        <span flex></span>
        <mat-chip selected="true" color="primary" align="right">
            <i class="material-icons">location_on</i>
            1.8k away
        </mat-chip>
      </mat-chip-list>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star</i>
    <i class="material-icons">star_half</i>
  </mat-card-content>
  <mat-card-actions>
    <div mat-card-avatar class="header-image"></div>
    <button mat-raised-button>LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions>
</mat-card>

