<div class="hero">
  <div class="shade">
    <div flex layout-fill layout="column" layout-align="center center">
      <div layout="row">
        <div flex="20"></div>
        <div flex class="hero-text">
          Cutting food waste is a delicious way of saving money, helping to feed the world and protect the planet.
        </div>
        <div flex="20"></div>
      </div>
      <div layout-align="space-around center" layout="row" layout-align="space-around center" class="stat-container">
        <app-stats></app-stats>
      </div>
    </div>
  </div>
</div>

<div class="push-top-lg" layout="row" layout-align="center">
  <div layout="column">
    <span class="heading-title">Featured Posts</span>
    <span class="heading-sub push-bottom-sm">Posts from loyal users</span>
    <mat-divider></mat-divider>

    <div style="height:800px;" class="push-top-md" layout="row" layout-align="center center">Coming soon!</div>
  </div>
</div>