<div flex layout="row" layout-align="center space-between" class="push-top">
  <div layout="column" flex class="pad-sm stat-card push size-height-128">
    <span class="stat">140</span>
    <span class="stat-label">Monthly users</span>
  </div>
  <div layout="column" flex class="pad-sm stat-card push size-height-128">
    <span class="stat">{{posts}}</span>
    <span class="stat-label">Active posts</span>
  </div>
  <div layout="column" flex class="pad-sm stat-card push size-height-128">
    <span class="stat">1000</span>
    <span class="stat-label">Succesful pick-ups</span>
  </div>
</div>