.active-link {
  border-bottom: 4px solid #6d3458;
}

.nav {
  width: 100%;
  height: 96px;
  border-bottom: 1px solid #e4ae43;
  transition: background-color 1000ms ease-out;
  color: #dadada;
}

.brand {
  font-size: 18px;
}

.scrolled {
  background-color: white !important;
  color: #4a4a4a;
}

.no-scroll {
  background-image: url('../../assets/food.jpg') !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover !important;
}

.heading-shade {
  width: 100%;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.75);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.highlighter {
  position: relative;
  height: 11px;
  width: 68px;
  background-color: #6d3458cc;
  top: -14px;
  z-index: -1;
}

.nav-option {
  z-index: 10;
}

.nav-container {
  padding-top: 16px;
}
