<div class="nav fixed z-3" flex layout="row" layout-align="start center" layout-padding [ngClass]="{'scrolled':isScrolled && isHome, 'no-scroll': !isHome }">
  <div [ngClass]="{'heading-shade': !isHome }"></div>
  <span class="push-left-md brand">FOODSHARE</span>
  <div class="push-left-xl nav-container" flex layout="row" layout-align="space-around">
    <button mat-button routerLink="/home" routerLinkActive="active-link" class="brand nav-option">HOME</button>
    <button mat-button routerLink="/posts" routerLinkActive="active-link" class="brand nav-option">POSTS</button>
    <button mat-button routerLink="/about" routerLinkActive="active-link" class="brand nav-option">ABOUT</button>
  </div>
  <span flex></span>
  <app-registration *ngIf="!isUserLoggedIn()"></app-registration>
  <app-user-options *ngIf="isUserLoggedIn()"></app-user-options>
</div>