<div>
  <mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter email">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="onLogin()">Login</button>&nbsp;
    <button mat-raised-button color="primary" (click)="onCloseCancel()">Cancel</button>
  </mat-dialog-actions>
</div>