<div style="padding-top: 125px" class="push-bottom-md" layout="row" layout-align="center">
  <div layout="column">
    <span class="heading-title">Posts</span>
    <div class="push-top-md push-bottom-md" layout="row" layout-align="center center">
      <button mat-button (click)="addPost()">Add Post</button>
      <button mat-button>Most Recent</button>
      <button mat-button>Near By</button>
      <button mat-button>Time Remaining</button>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>

<div layout="row">
  <div flex="5"></div>
  <div flex>
    <app-card-list></app-card-list>
  </div>
  <div flex="5"></div>
</div>