<div class="app-toolbar">
  <div class="mat-toolbar mat-toolbar-single-row">
    <span class="spacer"></span>
    <label title="Use small listing layout">
      <i class="material-icons" (click)="toList()">list</i>
    </label>
    <label class="CardSelector__cardSelector___2DcxU CardSelector__cardSelector-true___3bclQ" title="Use large listing layout">
      <i class="material-icons" (click)="toCard()">view_module</i>
    </label>
    <label title="Sort by closest location">
      <i class="material-icons" (click)="sortByLocation()">location_on</i>
    </label>
    <label title="Sort by newest listings">
      <i class="material-icons" (click)="sortByTime()">timer</i>
    </label>
  </div>
</div>