/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/scss/star-rating';
body {
  margin: 0;
}


.heading-title {
  text-align: center;
  font-size: 51px;
  font-family: 'Satisfy', cursive;
}

.heading-sub {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #a7d2cb;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: rgb(232, 135, 135);
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: rgb(232, 135, 135);
}