/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/scss/star-rating';
body {
  margin: 0;
}


.heading-title {
  text-align: center;
  font-size: 51px;
  font-family: 'Satisfy', cursive;
}

.heading-sub {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}