.mat-card-header {
  height: auto;
  width: 100%;
}

.card {
  color: black;
  margin-top: 25px;
}

.imageRow {
  margin-top: 25px;
}

.mat-card-image {
  max-width: 1080px;
  max-height: 400px;
}
