.mat-card-header {
  height: auto;
  width: 100%;
}

.card {
  color: black;
}

.mat-card-image {
  max-width: 1080px;
  max-height: 400px;
}

.heading-title {
  font-size: 51px;
  font-family: 'Satisfy', cursive;
}

.heading-sub {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
