<div style="padding-top: 125px" class="push-bottom-md" layout="row" layout-align="center">
  <div layout="column">
    <span class="heading-title text-center">Post</span>
    <span class="heading-sub push-bottom-sm">Post Details</span>
    <mat-divider></mat-divider>
  </div>
</div>


<div class="container" layout="column" layout-align="center center" flex>
  <div class="push-top-md">
    <img src="http://via.placeholder.com/200x250" alt="Image">
  </div>
  <mat-card class="card push-top-md" layout-fill flex>
    <div class="row" layout="row" layout="center">
      <mat-card-header>
        <mat-card-title>{{post?.title}} {{post?.postId}}</mat-card-title>
      </mat-card-header>
    </div>
    <div class="row" layout="row">
      <div class="col" flex="50">
        <img mat-card-image src="http://via.placeholder.com/500x350" alt="Image">
      </div>
      <div class="col" flex="50">
        <mat-card-content>
          <p>
            {{post?.description}}
          </p>
        </mat-card-content>
        <button mat-raised-button class="push-left-sm" color="accent">
          Request listing
        </button>
      </div>
    </div>
  </mat-card>
</div>